pytest>=7.4.0
pytest-cov>=4.1.0
coverage>=7.2.7
tox>=4.11.3
flake8>=6.1.0
black>=23.9.1
ansible>=8.5.0
requests>=2.31.0
bs4>=0.0.1
beautifulsoup4>=4.12.2
python-dotenv>=1.0.0
questionary>=2.0.1
mock>=5.1.0
responses>=0.23.3
